
# compliation
__pycache__/
*/__pycache__/

# figures
figures/

# scratch
testing/scratch/
testing/dana_driver.py

# whatever I ever put in here
visual_tests/

# other 
.DS_Store

# pip stuff
dist/
swan_vis.egg-info/

