
# compliation
__pycache__/
*/__pycache__/

# figures
# figures/

# scratch
testing/scratch/
testing/dana_driver.py

# whatever I ever put in here
visual_tests/

# tutorials data
tutorials/data/
tutorials/swan.p
tutorials/.ipynb_checkpoints/

# other 
.DS_Store

# pip stuff
dist/
swan_vis.egg-info/

