
# compliation
__pycache__/
*/__pycache__/

# figures
figures/
visual_tests/figures/

# big test input files
visual_tests/input_files/wt*gtf
visual_tests/input_files/5xFAD*gtf
visual_tests/input_files/wt*tsv

# other 
.DS_Store

# pip stuff
dist/
swan_vis.egg-info/

